*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          #91e5f6 0%, 
          #84d2f6 25%, 
          #386fa4 51%, 
          #133c55 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.title-container{
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}